<div id="recipeList">

	<% if (recipes.length >= 1) { %> 
		<% recipes.reverse() %>
		<% for (var i=0; i<recipes.length; i++) { %>
			<div class="recipeEntry">
				<input type="hidden" value="<%=recipes[i]._id%>" id="<%=recipes[i]._id%>">
				<div class="menu">
					<a href="#" class="editName">Edit Recipe Name</a><br>
					<a href="#" class="editUrl">Edit Url</a><br>
					<a href="#" class="editNotes">Edit Notes</a><br>
					<a href="#" class="delete">Delete Recipe</a>
				</div>
				<div class="rName">
					<a class="edit" href="#"><img src="edit.png" class="editImage"></a>
					<b><%=  recipes[i].recipeName %></b>
				</div>
				<div class="URL">
					<a href="<%=recipes[i].url%>" target="_blank"><%= recipes[i].url  %></a>
				</div>
				<% if (recipes[i].notes) { %>
					<div class="existingNote">
						<div class="noteIndicator">
							<a href="#" class="noteToggler">Expand Notes</a>
						</div>
						<div class="notes">
							<%= recipes[i].notes %>
						</div>
					</div>
				<% } else { %>
					<div class="alternative">
						<div class="blank">
						</div>
						<div class="noNotes">
						</div>
					</div>
				<% } %>
				<% if (recipes[i].tags.length >= 1) { %>
					<div class="tags">
						<% for (var j=0; j<recipes[i].tags.length; j++) { %>
							<span class="aTag"><a href="#"><%= recipes[i].tags[j] %></a></span>
		    			<% } %>
					</div>
				<% } %>
			</div>
	    <% } %>
	<% } else { %>
		<h1>NO RECIPES</h1>
	<% } %>
</div>
<br>
<br><br><br><br>